doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='initial-scale=1.0')
    meta(name='format-detection', content='telephone=no')
    title Responsive E-mail Template
    script(type='text/javascript').
      //<![CDATA[
      try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:1449742781,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"f17e8fe6e855710dfa533eb9db24315d",petok:"943c71cd4d56a7d3679ebc21a718c80f51ed46e8-1449775031-86400",zone:"template-help.com",rocket:"0",apps:{"abetterbrowser":{"ie":"7"},"ga_key":{"ua":"UA-7078796-5","ga_bs":"2"}},sha2test:0}];!function(a,b){a=document.createElement("script"),b=document.getElementsByTagName("script")[0],a.async=!0,a.src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=38857570ac/cloudflare.min.js",b.parentNode.insertBefore(a,b)}()}}catch(e){};
      //]]>
    style(type='text/css').
      .ReadMsgBody {
        width: 100%;
        background-color: #ffffff;
      }
      .ExternalClass {
        width: 100%;
        background-color: #ffffff;
      }
      .ExternalClass,
      .ExternalClass p,
      .ExternalClass span,
      .ExternalClass font,
      .ExternalClass td,
      .ExternalClass div {
        line-height: 100%;
      }
      html {
        width: 100%;
        margin: 0;
        padding: 0;
      }
      body {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;
      }
      table {
        border-spacing: 0;
        border-collapse: collapse;
      }
      img {
        display: block !important;
        outline: none;
        text-decoration: none;
        -ms-interpolation-mode: bicubic;
        border: none;
        height: auto;
        line-height: 100%;
        vertical-align: bottom;
      }
      p {
        padding: 0;
        margin: 0;
      }
      br {
        line-height: 0 !important;
      }
      div,
      p,
      span,
      strong,
      b,
      em,
      i,
      a,
      li,
      td {
        -webkit-text-size-adjust: none;
      }
      .b-letter__body {
        background: #cccccc !important;
      }
      table td,
      table tr {
        border-collapse: collapse;
      }
      table {
        border-collapse: collapse;
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      .js-phone-number,
      .highlight-phone {
        color: #ffffff !important;
        text-decoration: none !important;
      }
      a,
      p {
        line-height: inherit !important;
      }
      @media only screen and (max-width: 600px) {
        body {
          width: auto !important;
        }
        table[class="container"] {
          width: 100% !important;
        }
        table[class="center"] {
          text-align: center !important;
          float: none !important;
        }
        td[class="content"] {
          padding: 0 10px !important;
        }
        td[class="center-content"] {
          padding: 0 10px !important;
          text-align: center !important;
          float: none !important;
        }
        td[class="padding-reset"] {
          padding: 0 !important;
        }
        table[class="inline-block"] {
          text-align: center !important;
          float: none !important;
          width: 100% !important;
        }
        table[class="inline-block-1"] {
          text-align: center !important;
          float: none !important;
          width: 280px !important;
        }
        table[class="inline-block-2"] {
          text-align: center !important;
          float: none !important;
          width: 275px !important;
        }
        table[class="inline-block-3"] {
          text-align: center !important;
          float: none !important;
          width: 180px !important;
        }
        td[class="inline-container"] {
          padding: 0 !important;
        }
        img[class="stretch"] {
          width: 100% !important;
        }
        table[class="remove"],
        tr[class="remove"],
        span[class="remove"] {
          display: none;
        }
      }
    script(type='text/javascript').
      /* <![CDATA[ */
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7078796-5']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      (function(b){(function(a){"__CF"in b&&"DJS"in b.__CF?b.__CF.DJS.push(a):"addEventListener"in b?b.addEventListener("load",a,!1):b.attachEvent("onload",a)})(function(){"FB"in b&&"Event"in FB&&"subscribe"in FB.Event&&(FB.Event.subscribe("edge.create",function(a){_gaq.push(["_trackSocial","facebook","like",a])}),FB.Event.subscribe("edge.remove",function(a){_gaq.push(["_trackSocial","facebook","unlike",a])}),FB.Event.subscribe("message.send",function(a){_gaq.push(["_trackSocial","facebook","send",a])}));"twttr"in b&&"events"in twttr&&"bind"in twttr.events&&twttr.events.bind("tweet",function(a){if(a){var b;if(a.target&&a.target.nodeName=="IFRAME")a:{if(a=a.target.src){a=a.split("#")[0].match(/[^?=&]+=([^&]*)?/g);b=0;for(var c;c=a[b];++b)if(c.indexOf("url")===0){b=unescape(c.split("=")[1]);break a}}b=void 0}_gaq.push(["_trackSocial","twitter","tweet",b])}})})})(window);
      /* ]]> */
  body.body-layout(style='width: 100% !important; background: #f1f1f1;')
    block content