#facepage {
    background-color: dodgerblue;
    width: 640px;
    align-content: center;
}
#listing {
    background-color: darkgrey;
    width: 640px;
    align-content: center;
}
#services {
    width: 640px;
    background-color: indianred;
}
#testimony{
    width: 640px;
    background-color: cornflowerblue;
}
#contact{
    width: 640px;
    background-color: greenyellow;
}
#disclaimer{
    width: 640px;
    background-color: darkorange;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
.phone {

}
.fax {
    text-align: center;
}
.email {
    text-align: right;
}
